b {
  font-weight: 500;
  border-bottom: 1px solid #775ada;
  color: white;
}

@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "VT323", monospace;
  background: linear-gradient(to right, #012146, #09192b);
  color: white;
}

p {
  font-size: 1.3rem; /* Base */
}

h1 {
  font-size: 3.25rem; /* 1.3rem * 2.5 */
}

h2 {
  font-size: 2.6rem; /* 1.3rem * 2 */
}

h3 {
  font-size: 2.08rem; /* 1.3rem * 1.6 */
}

h4 {
  font-size: 1.69rem; /* 1.3rem * 1.3 */
}

h5 {
  font-size: 1.5rem; /* 1.3rem * 1.15 */
}

h6 {
  font-size: 1.365rem; /* 1.3rem * 1.05 */
}

.button-download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../svg/highlight.svg") no-repeat center;
  transform: rotate(-15deg); /* Puedes añadir la rotación aquí */
  transform-origin: center center;
  z-index: -1; /* Asegura que el fondo esté debajo del contenido */
}


/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #09192b; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #775ada; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #09192b; /* Borde alrededor de la barra */
}
