<script>
  const mobileMenu = document.getElementById("mobile-menu");
  const navList = document.querySelector(".nav-list");
  const navLinks = document.querySelectorAll(".nav-list a");

  if (mobileMenu != null && navList != null) {
    mobileMenu.addEventListener("click", () => {
      navList.classList.toggle("active");
    });

    navLinks.forEach((link) => {
      link.addEventListener("click", () => {
        navList.classList.toggle("active");
      });
    });
  }
</script>

<nav class="navbar">
  <h6 class="logo">Angel Joseph Sanchez</h6>

  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="nav-list">
    <li><a href="#about">Sobre mi</a></li>
    <li><a href="#hobbies">Hobbies</a></li>
    <li><a href="#exp">Experiencia Laboral</a></li>
    <li><a href="#estudios">Estudios</a></li>
  </ul>
</nav>

<style>
  a {
    color: white;
    text-decoration: none;
    transition:
      color 0.3s ease,
      transform 0.2s ease;
    position: relative;
    font-size: 1.3rem;
  }

  a:hover {
    color: #775ada; /* El mismo color dorado del logo */
    transform: scale(1.1);
  }

  /* Línea debajo al hacer hover */
  a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #775ada;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  a:hover::after {
    width: 100%;
  }

  .navbar {
    position: relative;
    z-index: 10;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Logo */
  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #775ada; /* Un color dorado que destaca */
  }

  /* Links */
  .nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
  }

  /* Responsive para pantallas pequeñas */
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
    .nav-list {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%; /* Justo debajo del navbar */
      left: 0;
      width: 100%;
      height: 90vh;
      background: linear-gradient(to right, #012146, #09192b);
    }

    .nav-list.active {
      display: flex;
      background-color: black;
    }

    .nav-list li {
      text-align: center;
      margin: 10px 0;
    }

    .nav-list a {
      font-size: 1.5rem;
    }
  }
</style>
